.music-module {
  // height: 100%;
  display: flex;
  flex-direction: column;

  .music-module-container {
    flex: 1;
    display: flex;

    .music-module-left {
      flex: 1;
      display: flex;
      flex-direction: column;

      .music-btn-list {
        text-align: left;
        margin: 0 10px;
        button {
            margin: 10px 20px;
        }
      }
      .music-player-container {
        height: calc(~"100vh - 200px");
        overflow: auto;
      }
    }

    .music-module-right {
      background-color: rgba(255, 255, 255, 0.3);
      flex-direction: column;
      display: flex;
      justify-content: center;
      align-items: center;
      width: 300px;

      .music-pic {
        width: 186px;
        height: 186px;
        background-color: antiquewhite;

        img {
          width: 100%;
          height: 100%;
        }
      }

      .music-lyric {
        height: calc(~"100vh - 420px");
        overflow: hidden;
        margin: 40px 0;
        width: 100%;

        ul {
          list-style-type: none;
          width: 100%;
          text-align: center;
          color: rgba(255, 255, 255, 1);
          user-select: none;
          transition: all 0.5s ease-in;

          li {
            &.active {
              font-weight: 700;
              color: #aaaaaa;
            }
          }
        }
      }
    }

    @media screen and (max-width: 875px) {
      .music-module-right {
        width: 0;
        display: none;
      }
    }
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  50% {
    opacity: 100;
  }

  100% {
    opacity: 0;
  }
}
